doctype

html
head
	link(rel="stylesheet", href="../css/FirstSteps.css")

body
	div(id="mainDiv")
		h1(id="header") Bug Out Bag

		ul
			li Medical consent and history forms for each family member
			li passport, SSN & birth certificates
			li flashlight (batteries) and lighter/matches
			li notepad and pen
			li cell phone charger (solar charger if possible)
			li sunscreen & bug spray
			li whistle & glow stick
			li walkie talkies (batteries)
			li thermal blanket
			li <a href='#FirstAid'>first aid kit</a>
			li Potassium iodide tablets
			li Binoculars
			li Tools (Multitool, assorted tools, knife)
			li weapon you know how to use
			li Food and Water
			li One change of clothes
			li Pot (for cooking and boiling water)
			li Plates and eating utensils (mess kit)
			li Duct tape
			li Water Filter or Water Purifier
			li Rope or Twine
			li Fire either propane/butane torches or camp stove
			li Sun glasses
			li Axe, Hatchet or Crowbar
			li Towels
			li Super glue
			li toilet paper, menstrual products
			li soap, shampoo, tooth brush and tooth paste

		br
		h3(class="minorHeader", id="CampingBag") Camping Bag
		p
			While it can be good for each member of the house hold to have their own personal bug out bag. It is good to have a single bag that contains all of the bulkier camping gear.		

		ul
			li Tent
			li Sleeping Bags
			li Pillows


		p(id="FirstAid").
			First Aid kit continued. Make sure to check it regularly. Any ointments and pills are likely to expire.
		ul
			li Adhesive bandages, triangular bandages, roller bandages, sterile gauze pads, and adhesive cloth tape
			li Medical tape
			li Ibuprofen (non-steroidal anti-inflammatory drug (NSAID))
			li Acetaminophen/paracetamol (over-the-counter pain relief)
			li Aspirin (over-the-counter pain relief)
			li Laxative
			li Iodine
			li Hand sanitizing liquid
			li Tweezers
			li Safety pins
			li Thermometer
			li Toothpicks/needles.
			li Absorbent compress dressings and an instant cold compress
			li Antibiotic ointment packets, hydrocortisone ointment packets, antiseptic wipe packets
			li A pair of non-latex gloves, scissors and a non-glass, non-mercury oral thermometer
			li Personal and prescription medications
			li A first aid instruction booklet and a list of emergency phone numbers, including contact information for your doctor, local emergency services, emergency road service providers, and the poison help line.
			li Multivitamins (to keep up health)