doctype

html
head
	title
		Food Stockpile
	link(rel="stylesheet", href="../css/FirstSteps.css")

body
	div
		h1(id="header") Food Stockpile

		ol(class="mainText")
			li water
				ul
					li Plan on having one gallon (3.785 liters) per person per day. This includes drinking, food preparation, and sanitation water.
					li Store your emergency water in clean, non-corrosive, tightly sealed containers.
					li Keep the containers in a cool, dark place. Don't store them in sunlight or near gasoline, kerosene, pesticides, and other similar substances.
