doctype

html
head
	title Login Page for Surival Pi UI

	// This is a basic jade file. We will use this only as a helper when I forgot how to do something in jade.

	body
		div
			p First Paragraph

			p
				| Basic non-sense
				br
				| More basic non-sense

			p.
				This is another way to enter text <strong>DOES IT WORK?</strong>

			p(id="4thParagraph", class="lorem_ipsum").
				Here is some more non-sense

			#Id_without_specifyingDiv.
				Here is even more NS.

			ul
				li#someId
					a(href='#') Link here
				li#someId
					a(href='#') Link here 2
				li#someId
					a(href='#') Link here 3